html {
  font-size: 10px;
  background: url(img/drum.jpg) bottom center;
/*    background-color: black;*/
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: lucida calligraphy;
}


.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.key {
  border: .4rem solid snow;
  border-radius: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.5);

}

.playing {
  transform: scale(1.1);
  border-color: greenyellow;

}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: greenyellow;
}

.btn{
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:white;
    color: black;
    border: NONE ;
    border-radius:40px;
    font-size: 20px;
  
    margin-left: 50px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: black;
}

